.dialog {
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &Title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: .8;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid var(--borderColor);

        .title {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    &Content {
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 0 16px;
        margin: 0 -16px;

        .formControl {
            margin-bottom: 16px;
        }
    }

    .btnActive {
        margin: 16px 0 0 auto;
        display: flex;
        border-top: 1px solid var(--borderColor);
        padding-top: 24px;
        width: 100%;
        justify-content: flex-end;
    }

    .reserveBtn {
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
}