.overview {
    .text {
        font-size: 1.2rem;
        font-weight: 500;
        margin-right: 3px;
    }

    &Header {
        display: flex;
        align-items: center;
    }

    &Info {
        display: flex;
        justify-content: space-between;

        &List {
            
            &Item {
                display: flex;
                margin-top: 20px;
                word-break: break-word;
                align-items: flex-end;
                .label {
                    min-width: 120px;
                    opacity: 0.8;
                    font-weight: 500;
                }

                .icon {
                    margin-left: 3px;
                    font-size: 1rem;
                    opacity: 0.6;
                    cursor: pointer;
                }
                .spotSavingEditIcon {
                    font-size: 1.3rem;
                    margin-left: 12px;
                    cursor: pointer;
                }
            }
        }
    }

    &BtnAction {
        margin-top: 24px;

        .btn:nth-child(n + 2) {
            margin-left: 6px;
        }
    }

    &Notif {
        margin-top: 24px;
    }
}

@media (max-width: 740px) {
    .overview {
        &Info {
            flex-direction: column;

            &List {
                flex-basis: 100%;
            }
        }

        &BtnAction {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .btn:nth-child(n + 2) {
                margin-top: 6px;
                margin-left: 0;
            }
        }
    }
}
